<div class="card-wrap">
  <div class="main-panel">
    <h3 class="title">{{ course.title }}</h3>
    <p class="desc">{{ course.description }}</p>
  </div>
  <div class="info-panel">
    <div class="course-data">
      <p class="authors"><span class="subtitle">Authors: </span>{{ course.authors.join(', ')}}</p>
      <p><span class="subtitle">Duration: </span>{{ course.duration | duration }}</p>
      <p><span class="subtitle">Created: </span>{{ course.creationDate | creationDate }}</p>
    </div>
    <div class="buttons">
      <app-button [btnText]="showBtnText"
                  (click)="showItem(course.id)"
                  [width]="btnWidth"></app-button>
      <ng-template [ngIf]="isEditable">
        <app-button [btnIcon]="deleteIcon"
                    (click)="deleteItem(course.id)"></app-button>
        <app-button [btnIcon]="editIcon"
                    (click)="editItem(course.id)"></app-button>
      </ng-template>
    </div>
  </div>
</div>