$primary-color: rgb(0, 114, 152);
$active-color: rgb(98, 190, 230);
$bg-color: rgb(247, 247, 247);
$text-color: rgb(51, 62, 72);
$grey: rgb(181, 181, 181);
$light-grey: rgb(207, 207, 207);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$error-color: rgb(255, 0, 0);
