@import "forms";

:host {
  margin-bottom: 40px;
  display: block;
}

label {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}
