<ng-template #info>
  <app-info [title]="infoTitle" [text]="infoText">
    <app-button [btnText]="infoBtnText" (click)="onAddCourse()" [width]="btnWidth"></app-button>
  </app-info>
</ng-template>
<ng-template #coursesList>
  <app-courses-list [courses]="courses" [isEditable]="isAdmin" (deleteCard)="deleteCourse($event)" (editCard)="editCourse($event)" (showCard)="getCourse($event)">
  </app-courses-list>
  <app-button [btnText]="'Test Modal'" (click)="onToggle()"></app-button>
</ng-template>
<ng-container *ngTemplateOutlet="courses.length ? coursesList : info"></ng-container>
<app-modal *ngIf="showModal" title="Message" message="Message text" okBtnText="OK" cancelBtnText="Close" (close)="onToggle()" (confirm)="handleChoose($event)">
</app-modal>